<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/Minimarket</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">1234</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.id.new_generator_mappings">true</property>
    <mapping class="modelo.DetalleventaEntity"/>
    <mapping resource="DetalleventaEntity.hbm.xml"/>
    <mapping class="modelo.ProductoEntity"/>
    <mapping resource="ProductoEntity.hbm.xml"/>
    <mapping resource="VentaEntity.hbm.xml"/>
    <mapping class="modelo.VentaEntity"/>
  </session-factory>
</hibernate-configuration>